.legend {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 40%;
  opacity: 0.35;
  background-color: #000;
  color: #fff;
  font-size: 1.4rem;
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  margin-top: 25px;
  margin-right: 25px;
  transition: opacity 0.5s;
  text-align: justify;
}

.legend .hide {
  font-size: 0.8rem;
  text-align: right;
}

.legend:hover {
  opacity: 0.75;
}
